.descriptionWrapper {
    margin-bottom: 24px;
}
.container{
    display: flex;
    flex-direction: column;
}

.titleDescription{
    font-size: 14px;
    color: #737067;
    margin-bottom: 6px;
}

.buttonWrapper{
    margin-bottom: 18px;
    display: flex;
    justify-content: end;
}

.blogNameWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #1A1718;
    margin-bottom: 24px;
}

.blogTitle{
    font-size: 14px;
    color: #737067;
}

.textField{
    width: 100%;
    margin-bottom: 24px;
}

.descriptionTextField{
    width: 100%;
}