.content {
    width: 149px;
    height: 89px;
    background: #ffffff;
    border-radius: 2px;
    right: 0;
    top:0;
    position: absolute;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}