.descriptionWrapper {
    margin-bottom: 24px;
}
.container{
    display: flex;
    flex-direction: column;
}

.titleDescription{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #737067;
    margin-bottom: 6px;
}

.buttonWrapper{
    margin-bottom: 18px;
    display: flex;
    justify-content: end;
}