.postWrapper {
    padding: 29px 64px 0 24px;
}

.blogInfo {
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin-bottom: 28px;
}

.blogInfoImgWrapper {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 100%;
}

.blogInfoImg {
    width: 22px;
    height: 18px;
}

.postTitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 8px;
}

.date {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}
.postPicture {
    width: 940px;
    height: 432px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.imgPost {
    width: 84px;
    height: 84px;
}

.postText {
    margin-bottom: 103px;
}











